<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Book</title>
</head>
<link rel="stylesheet" href="searchBook.css">
<body>
    <header>
        <img src="logo uitm.webp" alt="logo" width="140" height="80">
        <h1>SEARCH BOOK</h1>

        <nav> 
            <a href="home.html">Home</a>
            <a href="bookcart.html">Book Cart</a>
        </nav>
    </header>

    <main>
        <div class="form_container">
            <table border="solid 1px solid">
                <h1>List Book</h1>
                <thead>
                    <th></th>
                    <th>Book Title</th>
                </thead>
                <tbody>
                 <tr>
                     <td><img src="BigDataBook.jpg" alt="logo" width="100" height="110"></td>
                     <td>
                        <h3>BIG DATA REVOLUTION</h3>
                        <form action="#">
                            <button class="button">Open</button>
                        </form>
                    </td>
                 </tr>
                 <tr>
                    <td><img src="SystemAnalysisBook.jpg" alt="logo" width="100" height="110"></td>
                    <td>
                        <h3>SYSTEM ANALYSIS</h3>
                        <form action="#">
                            <button class="button">Open</button>
                        </form>
                    </td>
                   
                </tr>
                <tr>
                    <td><img src="SystemsDesignBook.jpg" alt="logo" width="100" height="110"></td>
                    <td>
                        <h3>SYSTEM DESIGN AND IMPLEMENTATION</h3>
                        <form action="#">
                            <button class="button">Open</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</table>
    <script>
        function create(){
        window.location.href="viewBook.html";
        }
    </script>
    <footer>
    </footer>
</body>
</html>