<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UiTM Jasin's Library</title>
</head>
<link rel="stylesheet" href="bookBorrow.css">

<body>
    <header>
        <img src="image/logo uitm.webp" alt="logo" width="150" height="90">
        <nav> 
            <a href="home.html">Home</a>
            <a href="bookcart.html">Book Cart</a>
        </nav>
    </header>

    <fieldset id="adBorrow"><br>
        <label class="user">Borrow Book Form</label>

        <fieldset id="Borrow"><br>
            <label class="title">Book Title :</label><br>
            <input type="text" name="student" required><br><br>

            <label class="studentId">Student ID :</label><br>
            <input type="text" name="id" required><br><br>

            <label class="dateBorrow">Date Borrow : </label><br>
            <input type="date" class="dateBorrow" required><br><br>

            <label class="dateReturn">Date Return : </label><br>
            <input type="date" class="dateReturn" required><br><br>

            <label class="quantity">Quantity : </label><br>
            <input type="number" class="quantity" required><br><br>

        </fieldset>

        <br><button type="submit" class="btn" onclick="openPopup()">Borrow</button>
        
    </fieldset>

<script>
    let popup = document.getElementById("popup");

    function openPopup(){
        popup.classList.add("open-popup");
    }
    function closePopup(){
        popup.classList.remove("open-popup");
    }
     
</script>
    
</body>
</html>