<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UiTM Jasin's Library</title>

    <link rel="stylesheet" href="createAccount.css">

</head>
<body>

    <header>
        <img src="image/logo uitm.webp" alt="logo" width="150" height="90">

        <nav> 
            <a href="home.html">Home</a>
            <a href="bookcart.html">Book Cart</a>
        </nav>

    </header>

    <fieldset id="Create">
        <fieldset id="Book">
            <h1 class="main">BOOK BORROWING SYSTEM</h1>

            <div id="createAccount">
                <button onclick="create()">CREATE ACCOUNT</button>
            </div>

        </fieldset>
    </fieldset>

    <script>
        function create(){
            window.location.href="formCreateAcc.html";
        }
    </script>
    
</body>
</html>
