<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UiTM Jasin's Library</title>

    <link rel="stylesheet" href="createFine.css">

</head>
<body>

    <header>
        <img src="image/logo uitm.webp" alt="logo" width="150" height="90">
        <nav> 
            <a href="homeLib.html">Home</a>
        </nav>
    </header>

    <fieldset id="adFine"><br>
        <label class="admin">Create Fine Form</label>

        <fieldset id="Create"><br>
            <label class="studentId">Student ID:</label><br>
            <input type="text" name="id" required><br><br>

            <label class="name">Book's Title:</label><br>
            <input type="text" name="title" required><br><br>

            <label class="quantity">Quantity: </label><br>
            <input type="number" class="quantity" required><br><br>

            <label class="date">Date Return: </label><br>
            <input type="date" class="dateReturn" required><br><br>

            <label class="amount"> Fine Amount: </label><br>
            <input type="number" class="amount" required><br><br>

        </fieldset>

        <br><button type="submit" class="btn" onclick="openPopup()">Save</button>
        
    </fieldset>

<script>
    let popup = document.getElementById("popup");

    function openPopup(){
        popup.classList.add("open-popup");
    }
    function closePopup(){
        popup.classList.remove("open-popup");
    }
     
</script>
</body>
</html>