<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UiTM Jasin's Library</title>

    <link rel="stylesheet" href="createAccount.css">

</head>
<body>

    <header>
        <img src="image/uitm-logo.png" alt="logo" width="150" height="155" class="logo">

    </header>

    <main>
        <h1 class="h1">BOOK BORROWING</h1>
        <h1 class="h2">SYSTEM</h1>

    <div id="createAccount">
        <button onclick="create()">CREATE ACCOUNT</button>
    </div>
    </main>

    <script>
        function create(){
            window.location.href="formAccount.html";
        }
    </script>
    
</body>
</html>