<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UiTM Jasin's Library</title>

    <link rel="stylesheet" href="formCreateAcc.css">

</head>
<body>

    <header>
        <img src="image/logo uitm.webp" alt="logo" width="150" height="90">
        <nav> 
            <a href="home.html">Home</a>
            <a href="bookcart.html">Book Cart</a>
        </nav>
    </header>

    <fieldset id="adCreate"><br>
        <label class="user">Create Account</label>

        <fieldset id="Create"><br>
            <label class="name">Name</label><br>
            <input type="text" name="student" required><br><br>

            <label class="studentId">Student ID</label><br>
            <input type="text" name="id" required><br><br>

            <label class="phone">Phone Number : </label><br>
            <input type="text" class="phone" required><br><br>

            <label class="email">Email : </label><br>
            <input type="email" class="email" required><br><br>

        </fieldset>

        <br><button type="submit" class="btn" onclick="openPopup()">Create</button>
        
    </fieldset>

<script>
    let popup = document.getElementById("popup");

    function openPopup(){
        popup.classList.add("open-popup");
    }
    function closePopup(){
        popup.classList.remove("open-popup");
    }
     
</script>
</body>
</html>