<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UiTM Jasin's Library</title>
</head>
<link rel="stylesheet" href="home.css">
<body>
    <header>
        <img src="image/logo uitm.webp" alt="logo" width="150" height="90">

        <nav> 
            <a href="bookLists.html">Book List</a>
            <a href="borrowerLists.html">Borrower Lists</a>
            <a href="FineLists.html">Fine Lists</a>
            <a href="RecordFineLists.html">Record Fine list</a>
        </nav>
        <div id="searchBook">
            <form action="#">
                <input type="text" placeholder="searchBook" required>
                <button class="button">Search</button>
            </form>
        </div>
    </header>

    <fieldset id="welcome">
        <fieldset id="Library">
            <h1 class="main">WELCOME TO UITM JASIN LIBRARY</h1>
        </fieldset>
    </fieldset>
</body>
</html>
