<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UiTM Jasin's Library</title>

    <link rel="stylesheet" href="updateBook.css">

</head>
<body>

    <header>
        <img src="image/logo uitm.webp" alt="logo" width="150" height="90">
        <nav> 
            <a href="homeLib.html">Home</a>
        </nav>
    </header>

    <fieldset id="adUpdate"><br>
        <label class="admin">Update Books Form</label>

        <fieldset id="Update"><br>
            <label class="name">Book Title:</label><br>
            <input type="text" name="book" required><br><br>

            <label class="name">Book's Author</label><br>
            <input type="text" name="author" required><br><br>

            <label class="date">Published Date : </label><br>
            <input type="date" class="pubdate" required><br><br>

            <label class="name">Book's Genre: </label><br>
            <input type="text" class="genre" required><br><br>

            <label class="name"> Book's Publisher: </label><br>
            <input type="text" class="publisher" required><br><br>

        </fieldset>

        <br><button type="submit" class="btn" onclick="openPopup()">Save</button>
        
    </fieldset>

<script>
    let popup = document.getElementById("popup");

    function openPopup(){
        popup.classList.add("open-popup");
    }
    function closePopup(){
        popup.classList.remove("open-popup");
    }
     
</script>
</body>
</html>